@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root{
  --primary-color: #69aa00;
  --secondary-color: #058b00;
  --dark-color: #276602;
  --light-color: #ffffff;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  color: #333;
  line-height: 1.6;
}

ul{
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1 , h2{
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0px;
}

p{
   margin: 10px 0px;
}

img {
  width: 100%;
}

/* NAVBAR */
.navbar {
  background-color: var(--primary-color);
  color: #ffffff;
  height: 70px;
}

.navbar a{
  transition: 0.5s;
}

.navbar ul {
  display: flex;
}

.navbar a{
  color: #ffffff;
  padding: 10px;
  margin: 0 4px;
}

.navbar a:hover{
  border-bottom: 1px #fff solid;
  color: #e4e4e4;
  background-color: rgb(75, 122, 0);
  border-radius: 0.3px;
}

.navbar .flex{
  justify-content: space-between;
}

/* SHOWCASE */
.showcase{
  height: 400px;
  background-color: var(--primary-color);
  color: #fff;
  position: relative;
}

.showcase h1 {
  font-size: 40px;
}

.showcase p {
  margin: 20px 0;
}

.showcase .grid{
  grid-template-columns: 55% 45%;
  gap: 30px;
  overflow: visible;
}

.showcase-form{
  position: relative;
  top: 60px;
  height: 350px;
  width: 400px;
padding: 40px;
z-index: 100; /* Ensures element is at front at all times */
justify-self: flex-end;
}

.showcase-form .form-control{
  margin: 30px;
}

.showcase-form input[type='text'] ,
.showcase-form input[type='email']{
 border:0;
 border-bottom: 1px solid rgb(209, 209, 209);
 width: 100%;
 box-shadow: 0px 2px 5px rgba(156, 223, 0, 0.3);
 height: 30px;
 padding: 3px;
 font-size: 16px;
}

.showcase-form ::placeholder{
  color: #999898;
}

.showcase-form input:focus{
  outline: none;
}

.showcase::before,
.showcase:after{
  content: '';
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
  background: #fff;
  transform: skewY(-3deg);
  -webkit-transform: skewY(-3deg);/* webkit ensures it works with chrome browser */
  -moz-transform: skewY(-3deg);/* webkit ensures it works with mozilla browser */
  -ms-transform: skewY(-3deg);/* webkit ensures it works with Edge browser */
}

.stats{
  padding-top: 100px;
}

.stats-heading{
  max-width: 500px;
  margin: auto;
}

.stats .grid h3{
  font-size: 35px;
}

.stats .grid p{
  font-size: 20px;
  font-weight: bold;
}

/* CLI */
.cli .grid{
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.cli .grid > *:first-child{
  grid-column: 1 / span 2;
  grid-row: 1/ span 2;
}

img{
  border-radius: 4px;
}

code , pre{
  background: #333;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
}

/* CLOUD */
.cloud .grid{
  grid-template-columns: 4fr 3fr;
}

/* LANGUAGES */

.languages .flex{
  flex-wrap: wrap; /* pushes elements to the next line when the browser window is resized. */
}

.languages .card{
  text-align: center;
  margin: 18px 10px 40px;/* top, sides */
  transition: transform 0.2s ease-in;
}

.languages .card h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.languages .card:hover{
  transform: translateY(-15px);
}

/* FOOTER */
.footer .social a{
  margin: 0 10px;
}

/* TABLETS AND UNDER */
@media(max-width: 768px){
  .grid,
  .showcase .grid,
  .stats .grid,
  .cli .grid,
  .cloud .grid{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .showcase{
    height: auto; /* takes up the total height of the container */
  }

  .showcase-text{
    text-align: center;
    margin-top: 40px;
  }

  .showcase-form{
    justify-self: center;
    margin-top: 40px;
  }

  .cli .grid > *:first-child{
    grid-column: 1;
    grid-row: 1;
  }
}

/* MOBILE */
@media(max-width: 500px){
  .navbar{
    height: 110px;
  }

  .navbar .flex {
    flex-direction: column;
  }

  .navbar ul {
    padding: 10px;
    background: rgba(0, 0, 0, 0.1);
  }

  .navbar a:hover{
    border-bottom: none;
    color: #e4e4e4;
    background-color: rgb(75, 122, 0);
    border-radius: 0.3px;
  }
}